target
classes
checkouts
.nrepl-port
logs
.lein-*
.idea
.cpcache
pom.xml
pom.xml.asc
*.jar
*.class
*.iml
.hgignore
.hg/
.clj-kondo
.calva
.lsp

node_modules/
.shadow-cljs/
cljs-runtime/

!/otus-05/checkouts
.DS_Store

database.*.db
