{:database-uri #env DATABASE_URI
 :database     #envf ["protocol://%s:%s" DATABASE_HOST DATABASE_NAME]
 :port         #or [#env PORT 8080]

 :webserver    {:port #profile {:default 8000
                                :dev     8001
                                :test    8002}}}

