;; shadow-cljs configuration
{:dev-http {8080 "public"}
 
 :source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:frontend {:target :browser
             :modules {:main {:init-fn otus.frontend.app/init}}}
  :script {:target :node-script
           :main otus.script/hello
           :output-to "out/script.js"}}}
